html,
body {
  margin: 0;
}
main {
  display: flex;
  height: calc(100vh - 37px);
}
#list {
  flex: 6;
}
#form {
  flex: 6;
}
.task .label {
  font-weight: normal; /* Make labels not bold */
}

.task h3,
.task p {
  font-weight: bold; /* Make input values bold */
}
